<!DOCTYPE html>
<html>
  <head>
    <title>TidyAppNew</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <div class="header">
      <a href="/"><div class="logo"><h1>Tidy_app</h1></div></a>
      <div class="user">
          <%if @current_user%>
          <a href="/posts/login"><div class="logout"></div></a>
          <div class="logout"><%= link_to("ログアウト","/logout",{method: :post})%></div>
          <%end%>
      </div>
    </div>
    </header>
    <%= yield %>
  </body>
</html>

 <!--<% if session[:user_name]%> 
          <div class="logout">ログアウト</div> 
          <div class="greetings">こんにちは、さん</div>
        <% else %>
        <a href ="/users/index"><div class="postindex">新規登録</div></a>
        <a href ="/users/login"> <div class="postindex">ログイン</div></a>
        <%end%>-->
